.p2{
  text-align: right;
}
.p2 h3 {
  color: #253d52;
  margin-top: 0px;
  font-family: 'Cairo', sans-serif;
  font-weight: 900;
}

.p2 h3 span {
  display: block;
}

.p2 .fa-star {
  color: #ff9800;
  font-size: 16px;
}

.p2 p {
  
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 15px;
}

.ticket ul {
  padding: 0px;
  margin-bottom: 5px;
  list-style: none;
}
.ticket ul li {
  display: inline-block;
  background: #a2dd2f;
  padding: 2px 7px;
  font-size: 14px;
  font-weight: 600;
  color: #253d52;
  margin-right: 1px;
}
.featur {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.featur h4{
  margin-top: 15px;
  color: #253d52;
  background-size: contain;
}
.featur ul li {
  display: inline-block;
  padding: 3px;
  color: #253d52;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 600;
}
.featur ul svg{
  color: #a2dd2f;
}
.p2_book ul {
  padding: 0px;
}
.p2_book ul li {
  display: inline-block;
}
.link-btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 15px;
  border-radius: 2px;
 
  background: linear-gradient(to bottom, #a22a5f, #a22a5f);
  color: #fff;
}
.link-btn:hover{
  color: #fff;
  text-decoration: none;
}
ul li{
  list-style: none;
 
}
.p1 img{
  width: 100%;height: 94%;
}
.rr{
  height: 600px;
}
@media only screen and (max-width: 500px) {
  .rr{
    height: 1100px;
  }
  .p1 img{
    height: 61%;
  }
  .link-btn {
    margin-bottom: 2%;
  }
}