.cardddd{
width: 20rem;
height: 100%;
display: flex;
box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;

}

.card-body{
padding: 3rem 0 !important;
}
.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;


  height: 72px;

}
.container-fluid .row{
  padding-top: 1.5rem;

}
.overflow{
  overflow: hidden;
}
.card-img-topp{
  transform: scale(1);
  transition: transform 0.5s ease;
  height: 280px;
  width: 100%;
  height: 100%;

}
/* .card-img-top:hover{
  transform: scale(1.8);
} */
.mr-30{
  margin-bottom: 30px;
  margin-top: -10px;
}
.btn-outline-success{
  color:#a22a5f !important;
  border-color: #a22a5f;
  padding: 10px 28px;
}
.btn-outline-success:hover{
  background-color:#a22a5f !important;
  color: #fff !important;
  border-color: #fff;

}












.rr h3 {
  color: #253d52;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  text-align: right;
  padding-top: 20px;
}

.rr p {
  font-family: 'Cairo', sans-serif;
  color: #1b1e21;
  padding: 10px 0px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 15px;
}
.cc{
  display: flex;
}
.cc img {
  width: 100%;
  border-radius: 5px;
  /* border: 3px solid #24272d; */
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.29);
}












.offer {
  background: url(../../../assets/img/about-img.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1200px){
.con {
    width: 1170px;
}
}
@media (min-width: 768px){
.con {
    width: 90%;
}
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}