.loader__hoc{
    text-align: center;
    padding: 40vh 0;
}
.app-side-and-nav{
    display: flex;
    overflow-x: hidden;
}
.app-nav-and-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


