.si-container {
    position: fixed;
    right: 0rem;
    min-height: 100vh;
    background: #a22a5f;
    width: 15.4vw;
    float: right;
    font-family: 'cairo';
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.si-container::-webkit-scrollbar {
    display: none;
}

.si-sidebar {
    width: 15vw;
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding-top: 1rem;
    color: white;
    display: flex;
    background-color: #a22a5f;
    flex-direction: column;
    font-size: 1vw;
    height: 100vh;
}

.si-sidebar__header {
    position: absolute;
    top: 0rem;
    right: 2.5rem;
    color: #88B0D6;
    font-size: 2.3rem;
    font-weight: bold;
}

.si-sidebar__bar {
    margin-top: 6vw;
    margin-right: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 2vh;
}

.si-sidebar__links {
    text-decoration: none;
    color: white;
}

.si-sidebar__dropdowncontainer {
    display: flex;
    flex-direction: column;
    margin-right: 23px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: .8vw;
}

.hidden {
    display: none;
    transition: all 2s ease-in-out;
}

.block {
    display: flex;
    transition: all 2s ease-in-out;
}

.home {
    margin-right: -11px;
    margin-bottom: 1.5rem;
}

.lists {
    margin-right: -1px;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.icon-style {
    margin-left: 1.3rem;
}

.icons-style {
    margin-left: 1rem;
}

.iconstyle {
    margin-left: .5rem;
}

@media only screen and (max-width: 700px) {
    .si-container {
        width: 25vw;
    }
    .si-sidebar {
        font-size: 0.8rem;
        width: 25vw;
    }
}